<section class="hero-section">

  <div class="container">

    <div class="row align-items-center min-vh-100">

      <div class="col-lg-7">

        <h1>
          Hi, I am<br>
          {{portfolio.personal.name}}
        </h1>

        <h2>
          I am a <span class="role-text">{{portfolio.personal.role}}<span class="cursor">|</span></span>
        </h2>

        <p class="summary">
          {{portfolio.personal.summary}}
        </p>

        <div class="hero-buttons">

          <a class="btn btn-primary btn-custom"
            [href]="portfolio.personal.resume"
            download>

            Download CV
          </a>

        </div>

      </div>

      <div class="col-lg-5 text-center">

        <div class="image-wrapper">
          <img
            [src]="portfolio.personal.image"
            alt="Profile"
            class="profile-image">
        </div>

      </div>

    </div>

  </div>

</section>