<section id="education">

  <div class="container">

    <span class="section-tag">&lt; EDUCATION &gt;</span>

    <h2 class="section-title">Education</h2>

    <p class="section-subtitle">
      My academic journey and achievements
    </p>

    <div class="education-container">

      @for(edu of portfolio.educations; track edu.degree){

      <div class="education-card">

        <div class="education-top">

          <img
            [src]="edu.image"
            [alt]="edu.institution">

          <div class="edu-info">

            <h3>{{edu.degree}}</h3>

            <h5>{{edu.institution}}</h5>

            <span>{{edu.duration}}</span>

          </div>

        </div>

        <p class="score">
          {{edu.score}}
        </p>

      </div>

      }

    </div>

  </div>

</section>