.cert-card {
  background: #101827;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 20px;
  padding: 35px;
  text-align: center;
  transition: .3s;
}

.cert-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(168,85,247,.4);
}

.cert-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 20px;
}

.cert-card span {
  color: #a855f7;
}